*{font-family: 'Josefin Sans', 'Sans Serif';}




ion-content{
    --background:whitesmoke;
}
                                                
 .main_content_div{
    width: 100%;
    padding:0px;

    ion-label{
        display: block;
        margin-top:20px;
        color: gray;
    }
    .square_div{
        background: whitesmoke;
        width: 100%;
        height: 100px;
        position: relative;
     }

     .gray_img{
        width: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,50%);
     }
     .gray_img:hover{
        box-shadow: rgb(161, 161, 161) 0px 0px 0px 10px;
     }

}

.texttt{
    margin-left: 5px;
}

.text{
    text-align: center;
}

.textt{
    text-align: center;
    color: black;
}

.left_col{
    padding-left: 0px;
}

ion-input{
    border:1px solid lightgray;
    border-radius: 5px;
    --padding-start:8px;
    margin-top:15px;
}
ion-button{
    --background:#070707;
    border-radius:8px;
    color: white;
    margin-top:25px;
}


ion-footer{
    background: #312e2e;
}

