<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: aquamarine;">
  <ion-grid>
    
    
  
    <ion-row style="background-color: rgba(43, 81, 185, 0.863); border-radius: 10px;  margin-top: 10px;">
      <ion-col >
        <div> <b> Juan Perez</b> <br> Hola <br> te estamos esperando </div>
      </ion-col>
      
    </ion-row>
  
    
  
    <ion-row style="margin-top: 10px; background-color: rgba(43, 81, 185, 0.863); border-radius: 10px; margin-top: 10px;">
      <ion-col>
       
      </ion-col>
      <ion-col >
        <div> <b> Yo </b> <br> Hola <br> ya voy amigo.. </div>
      </ion-col>
      
    </ion-row>
  
    
  </ion-grid>
</ion-content>
<ion-footer>
  
  <ion-searchbar search-icon="send-outline" color="dark" class="hh" placeholder="Enviar Mensaje"></ion-searchbar>
</ion-footer>
