<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>Recuperar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="color: black; padding: 10px;"> <b>Ingrese codigo recuperacion</b> </p> 
    <ion-input class="pass"></ion-input>
    <p style="color: black; padding: 10px;"> <b>Ingrese su nueva contraseña: </b> </p>
    <ion-input type="password" class="pass"></ion-input>
    <p style="color: black; padding: 10px;"> <b>Repita su nueva contraseña: </b> </p>
    <ion-input type="password" class="pass"></ion-input>
    <ion-button fill="outline" style="font-size: 14px; margin-left: 100px; margin-top: 20px;"  (click)="jajan()">Listo</ion-button>
</ion-content>
