<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

  <h4 style="text-align: center;"> <b> Recuperar Contraseña</b> </h4>
  <div >
    <p style="color: black; padding: 10px;"> <b>Usuario:</b> </p> 
    <ion-input class="rr"></ion-input>
    <p style="color: black; padding: 10px;"> <b>Ingrese su correo: </b> </p>
    <ion-input class="rr"></ion-input>
    
    
    <ion-button class="j" style="margin-top: 20px;" (click)="presentAlert()">Listo</ion-button>
    <ion-button  slot="end" style="margin-top: 20px;" class="danger" [routerLink]="['/home']">Cancelar </ion-button>
  </div>
</ion-content>

